{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/release-notes-generator", 
    "@semantic-release/changelog",
    ["@semantic-release/npm", { "pkgRoot": "./dist" }],
    [
      "@semantic-release/github",
      {
        "successComment": "🎉 This PR is included in version ${nextRelease.version} 🎉 "
      }
    ]
  ]
}