{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/release-notes-generator", 
    "@semantic-release/changelog",
    ["@semantic-release/npm", { "pkgRoot": "./dist" }],
    [
      "@semantic-release/github",
      {
        "assets": [
           "package.json",
           "README.md",
           "CHANGELOG.md",
           "dist/**/**"
        ],
        "message": "chore: Release ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}